 h1{
     font-family: 'Notable', sans-serif;
 }
 
 nav{
    background-color: sandybrown;

}
a{
    color: black;
    font-size: 25px;
    text-decoration: none;
    padding: 15px;
}
#map {
    height: 80%;
    width: 70%;
  }
  /* Optional: Makes the sample page fill the window. */
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }