{% extends 'base.html' %}

<div id="header">
    <h1>Buy Cash</h1>
    <h3>Help destroy the Earth with these great Deals!<br> For every Dollar you spend, we will send $.50 to a warlord of your choice!</h3>
</div>
<div id="content">
    <div>
            <i class="material-icons">
                    offline_bolt </i>
            400<p>The basics</p>
            <button id="one"onclick="window.location.href = 'www.paypal.com';">$2.99</button><br>
    </div>
    <div>
            <i class="material-icons">
                    offline_bolt </i>
            800<p>Family fun</p>
            <button id="one"onclick="window.location.href = 'www.paypal.com';" >$4.99</button><br>
    </div>
    <div>
            <i class="material-icons">
                    offline_bolt </i>
            1200<p>Domination package</p>
            <button id="one"onclick="window.location.href = 'www.paypal.com';">$6.50</button><br>
    </div>
</div>

{% endblock %}
